<% content_for :title, "Welcome" %>
<% content_for :subhead do %>

<% end %>

<h3><strong>mastery</strong> is a web app for tracking your personal time.</h3>
<p>Inspired by Malcolm Gladwell’s rule of 10,000 hours needed to master something, this simple app gives you the tools to monitor your activities. With a few simple clicks or taps (<strong>mastery</strong> is mobile-friendly, of course), you can keep a running tally of how long you’ve spent drawing, reading, studying, or even doing the things you wish you’d done a little less – <em>how much</em> time did you spend flipping around Netflix last week?</p>
<p><strong>mastery</strong> also lets you track simpler activities – the kind you just need to know you’ve done. Want to get up earlier? See if you can get a streak going by checking it off every morning.</p>
<h3><strong>mastery</strong> is not a project tracking tool.</h3>
<p>There are far better apps out there – try <a href="http://www.getharvest.com/" target="_blank">Harvest</a> for tracking billable hours. They’re more advanced, better-supported, and made by people whom I can only assume really deserve your money. If you’re looking for an app that will help you track your business, <strong>mastery</strong> is not it.</p>
<h3><strong>mastery</strong> is very much in beta.</h3>
<p>Honestly, if you’re reading this, I’m not even sure how you found it. But, I mean, good for you. Check it out. Send me an <a href="http://bensaufley.com/contact" target="_blank">email</a> with your thoughts. And stick around, hopefully it will get way better.</p>