<% content_for :title, "#{current_user.username}: Profile" %>

<section class="activities">
  <h1>Activities</h1>
  <ul>
    <% if @activities.empty? %>
      <li>No activities yet.</li>
    <% else
        @activities.each do |activity| %>
        <li><%= link_to activity.name, user_activity_path(current_user,activity) %>: <%= humanize(activity.instances.time_spent) %></li>
      <% end
    end %>
  </ul>
<%= link_to "New Activity", new_user_activity_path(current_user) %>