- content_for :title, "Viewing #{link_to h(@user.username), @user}’s activities".html_safe

%section.activities
  %h1="Activities"
  %ul.activities
    - if @activities.empty?
      %li="No activities yet."
    - else
      - @activities.each do |activity|
        = render partial: 'listitem', locals: { activity: activity }
  %div.btns
    = link_to "New Activity", new_user_activity_path(current_user), class: 'btn full default icon-plus-circle'